# =====================
# Server
# =====================
BACKEND_PORT=4000

# =====================
# Database
# =====================
# Format: postgres://USER:PASSWORD@HOST:PORT/DB_NAME
DATABASE_URL=postgres://user:password@localhost:5432/db_name

# =====================
# Stalcraft API
# =====================
STALCRAFT_CLIENT_ID=your_client_id_here
STALCRAFT_CLIENT_SECRET=your_client_secret_here
STALCRAFT_REGION=ru

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

BACKEND_PORT=4000
BACKEND_PORT_EXTERNAL=14000
FRONTEND_PORT_EXTERNAL=8080