# =====================
# Postgres
# =====================

POSTGRES_USER=hideout
POSTGRES_PASSWORD=change_me
POSTGRES_DB=hideout
POSTGRES_HOST=hideout-db
POSTGRES_PORT=5432

# =====================
# Backend
# =====================

BACKEND_PORT=4000
BACKEND_PORT_EXTERNAL=14000
APP_HOST=0.0.0.0
# OPTIONAL
APP_HOST=0.0.0.0
BACKEND_DEBUG=false

# =====================
# Stalcraft API
# =====================
# Эти значения ОБЯЗАТЕЛЬНО заменить на реальные из кабинета Stalcraft:
# Регистрация и получение данных: https://eapi.stalcraft.net/registration.html

STALCRAFT_CLIENT_ID=your_client_id_here
STALCRAFT_CLIENT_SECRET=your_client_secret_here
STALCRAFT_REGION=ru

# =====================
# Frontend
# =====================

# URL backend API, на который ходит фронтенд
# При запуске через reverse-proxy — обычно https://hideout.broshow.ru/api
VITE_API_URL=http://localhost:14000
FRONTEND_PORT_EXTERNAL=8080